// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
//--------------------

@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@import 'base/fonts';
@import 'base/normalize';
@import 'base/reboot';
@import 'base/layout';
@import 'base/typography';
@import 'base/focus';
@import 'base/utilities';
@import 'base/screenreader';
@import 'base/animation';

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@import 'components/header';
@import 'components/nav';
@import 'components/footer';
@import 'components/icon';


.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(284deg, #fedd4e, #fcb43a);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}
.ais-Hits-item h1 {
    font-size: 16px;
    font-weight: bold;
}
.ais-Pagination-item--selected .ais-Pagination-link {
	color: #fff;
	background-color: #1a03e9;
	border-color: #1a03e9;
}
.ais-Breadcrumb-link, .ais-HierarchicalMenu-link, .ais-Menu-link, .ais-Pagination-link, .ais-RatingMenu-link {
	color: #1a03e9;
	transition: color .2s ease-out;
}
 code, pre {
	font-family: Consolas,Source Code Pro,Courier New, monospace;
  padding: 3px;
  background-color: rgb(242, 241, 251);
  border-radius: 2px;
} 