---
layout: categories
permalink: /collection-methods/
title: Collection Methods
methodCategory: Collection_Methods
eleventyNavigation:
  key: Collection Methods
---


 
{# methodCategory is the same thing that appears in the data from Sanity but with a _ instead of a space #}