---
layout: base
permalink: /contact/
eleventyNavigation:
  key: Contact
---

<div class="container">
    {# <h1>Contact</h1> #}
           <form name="contact" method="POST" data-netlify="true" id="contact-form">
            <p style="text-align:center;">I'd love to hear what you think of the project or any suggestions you may have. <br> The <a href="https://github.com/BradCoffield/lodashing">Github repo</a> is here, if you'd like to contribute or file a bug.</p>
   <br><hr><br>
           <p class="hidden">
    <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
  </p>
                <p>
                  <label>Name <input type="text" name="name" /></label>   
                </p>
                <p>
                  <label>Email <input type="email" name="email" /></label>
                </p>
                 <p>
                  <label>Message <textarea name="message"></textarea></label>
                </p>
                <p>
                  <button type="submit">Send</button>
                </p>
              </form>
</div>