---
layout: categories
permalink: /date-methods/
title: Date Method(s)
methodCategory: Date_Methods
eleventyNavigation:
  key: Date Methods
---


 
{# methodCategory is the same thing that appears in the data from Sanity but with a _ instead of a space #}