---
layout: categories
permalink: /function-methods/
title: Function Methods
methodCategory: Function_Methods
eleventyNavigation:
  key: Function Methods
---


 
{# methodCategory is the same thing that appears in the data from Sanity but with a _ instead of a space #}