---
layout: categories
permalink: /lang-methods/
title: Lang Methods
methodCategory: Lang_Methods
eleventyNavigation:
  key: Lang Methods
---


 
{# methodCategory is the same thing that appears in the data from Sanity but with a _ instead of a space #}