---
layout: base
pagination:
    data: lodashMethods
    size: 1
    alias: lodashMethod
permalink: "methods/{{ lodashMethod.methodName}}/"
---
{# {{lodashMethod | dump }} #}

<article class="method-page-results-item ">
    
    <div class="results-interior-two">
        <div class="methodCode"><code>{{lodashMethod.method | safe}}</code>
       </div> 
      
        <div class="category-area" style="margin-top:-1rem">
            {{lodashMethod.category | safe}} | {{lodashMethod.lodash_version | safe}} | {{lodashMethod.links | safe}}
        </div>
        {# <hr/> #}
        <div class="methodDescription">
        <h3>Description</h3>
            <div id="janky-links">{{lodashMethod.description | safe}}</div>
        </div>
            <div class="methodArguments">
         <h3>Arguments</h3>
         <ul class="arguments-ul">{{lodashMethod.arguments | safe}}</ul></div>
         <div class="methodReturns">
         <h3>Returns</h3>
         {{lodashMethod.returns | safe}}</div>
        <div class="methodExample" >
<h3>        Example</h3>
            <div class="highlight">{{lodashMethod.example | safe}}</div>
        </div>
       
       
    </div>

    <br/>

</article>

<script>

var a = document.getElementById('janky-links').getElementsByTagName('a');
const arrayOfLinks = Array.from(a)

if (arrayOfLinks.length > 0){
    console.log(arrayOfLinks[0])
     arrayOfLinks.forEach((link)=>{
        if (link.href.indexOf("#") !== -1){ link.href = `/methods/all/${link.hash}` }
    })  
    }

</script>