---
layout: categories
permalink: /math-methods/
title: Math Methods
methodCategory: Math_Methods
eleventyNavigation:
  key: Math Methods
---


 
{# methodCategory is the same thing that appears in the data from Sanity but with a _ instead of a space #}