---
layout: categories
permalink: /number-methods/
title: Number Methods
methodCategory: Number_Methods
eleventyNavigation:
  key: Number Methods
---


 
{# methodCategory is the same thing that appears in the data from Sanity but with a _ instead of a space #}