---
layout: categories
permalink: /object-methods/
title: Object Methods
methodCategory: Object_Methods
eleventyNavigation:
  key: Object Methods
---


 
{# methodCategory is the same thing that appears in the data from Sanity but with a _ instead of a space #}