---
layout: categories
permalink: /util-methods/
title: Util Methods
methodCategory: Util_Methods
eleventyNavigation:
  key: Util Methods
---


 
{# methodCategory is the same thing that appears in the data from Sanity but with a _ instead of a space #}