.highlight pre {
    background-color: #09091b;
    // background-color: #283646;
    color: #ddd;
    border-radius: 5px;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top:10px;
}
.highlight pre * {
    font-family: 'JetBrainsMono',monospace;
}
.highlight * .modifier,
.highlight * .numeric,
.highlight * .type {
    color: #1990ff;
    // color: #f02540;
}

.highlight * .name,
.highlight * .support {
    color: #23f1a2;
}
.highlight * .delimiter {
    color: inherit;
}
.highlight * .comment {
    color: #998;
}
code {
    background-color: #09091b !important;
}
