<footer  >
    <hr/>


    <div class="footer-flex">
        <div>

            <p style="margin:1.5rem 2rem ">An alternative way to explore lodash documentation, with various search and metadata enhancements. <br><br>A project by
                <a href="https://www.bradcoffield.com">Brad Coffield</a>.
            </p>
        </div>
    {# <div style="display:block;margin:0rem auto;width:141px;">
        <img src="/assets/images/mustache-with-eye-lens_purple.png" id="footer-logo" style="max-width: 45px"></img>
        
    </div> #}
        <div>
            <ul class="footer-nav">
                {% for item in primaryNavigation.navigation %}
                    <li>
                        <a href="{{item.path}}">{{item.name | safe}}</a>
                    </li>
                {% endfor %}
            </ul>
            <br>

        </div>

    </div>
</footer>