<header class="header" role="banner">
    <div class="header__inner container">
        <a href="/"> <div class="header__left">
          <img src="/assets/images/mustache-with-eye-lens_purple.png" id="header-logo"></img> lodashing
        </div></a>
     {#     <div class="header__right"> #}
            {# {% include "navigation.njk" %} #}
        {# </div>  #}
    </div>
</header>